SWAP_WEEKS=true
POSTGRES_CONNECTION_STRING=postgresql+asyncpg://postgres:<password>@localhost:5432/bgitu
ADMIN_PASSWORD=password
TELEGRAM_BOT_TOKEN=ABC:123
ADMIN_ID=1
VALIDATOR_URL=https://validator.bgitu-compass.ru/