SWAP_WEEKS=false
USER_DATA_VERSION=1
POSTGRES_PASSWORD=password
POSTGRES_CONNECTION_STRING=postgresql+asyncpg://postgres:password@localhost:5432/compass-api
ADMIN_PASSWORD=password
TELEGRAM_BOT_TOKEN=ABC:123
ADMINISTRATION_CHAT_ID=-1000000000
VALIDATOR_URL=https://example.com/
