ktor:
  application:
    modules:
      - ApplicationKt.module
  deployment:
    port: 9001
  client:
    connectTimeoutMillis: 15000
    requestTimeoutMillis: 300000
    socketTimeoutMillis: 240000
validator:
  loadFilesOnStart: true
  googleCredentialsPath: google/credentials.json
  maxConcurrentOperations: 4
  bgituCompassApiKey: password
  submitScheduleUrl: https://api.example.com/uploadNewSchedules
  requestScheduleUpdateUrl: https://api.example.com/updateValidatorLinks
  teachersListUrl: https://api.example.com/teachers
  settingsFile: data/settings.json
  videoInstructionUrl: https://example.com/
  scheduleRulesFile: data/rules.pdf
  auth:
    sessionLifetimeSeconds: 8640000
    secure: true
    users:
      - login: developer
        password: superHardPassword
      - login: validationTeam
        password: 12345

